body {
  background-color: antiquewhite;
}
h1 {
  color: blueviolet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
#app {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}
#container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#picker-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#picker-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}
#sliders {
  flex-direction: column;
  width: 60%;
  height: 100%;
}
#slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
}
#colorbox {
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#colorarea {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 5px;
}
.slider-input {
  width: 80%;
}
.slider-value {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: right;
  align-items: center;
}
.red {
  accent-color: red;
}
.green {
  accent-color: green;
}
.blue {
  accent-color: blue;
}
.input {
  width: 40%;
  padding: 10px;
}
